# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Capacitor
android/app/build/
android/.gradle/
android/build/
android/local.properties

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
